body {
    background-color: #DAEAF1;
}

hr {

    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #b6b3b3;
    border-width: 10px;
    height: 0px;
    width: 10%;
}

p,
li,
h1,
h3,
table,
img {
    align-self: center;
    text-align: center;
    
}

h1,
h3,
thead {
    color: #073951;

}

li {
    list-style-type: none;
}

.table-css,
img {
    margin-left: auto;
    margin-right: auto;
}

thead tr th {
    text-decoration: underline;
}